= link_to '#' do
  .all-item__box__photo
    = image_tag("item1.jpg") 
  %h3.all-item__box__body
    %p itemの説明
    .all-item__box__body__num
      .all-item__box__body__num__price
        %p ¥ 12,700
      .all-item__box__body__num__like
        %p 18
      %p.all-item__box__body__num__tax （税込）
