.container--mypage
  .container--mypage__side
    = render partial: "mypage_side"
  .container--mypage__content
    .container--mypage__content__edit
      %h2.container--mypage__content__edit__head 本人情報の登録
      = form_for current_user, html:{ class: "container--mypage__content__edit__identification"} do |f|
        .container--mypage__content__edit__head__p
          %p.container--mypage__content__edit__head__p__text お客さまの本人情報をご登録ください。
          %p.container--mypage__content__edit__head__p__text 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        .container--mypage__content__edit__identification__form
          %label お名前
          %p #{current_user.nickname}
          = f.text_area :nickname
        .container--mypage__content__edit__identification__form
          %label お名前 
