.container--mypage
  .container--mypage__side
    = render partial: "mypage_side"
  .container--mypage__content
    .container--mypage__content__edit
      %h2.container--mypage__content__edit__head プロフィール
      = form_for current_user do |f|
        .container--mypage__content__edit__icon
          %figure.container--mypage__content__edit__icon__fig
            =image_tag "chara.jpg", class: "container--mypage__content__edit__icon__fig__icon"
          =f.text_field :nickname
        .container--mypage__content__edit__content
          = f.text_area :profile, class: "container--mypage__content__edit__content__text", placeholder: "例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"
          = f.button "変更する", class: "container--mypage__content__edit__content__button"

