.logo{
  margin: 20px;
  &__signin{
    text-align: center;
  }
  & img{
    width: 185px;
  }
}
.devise-content{
  padding: 50px;
  text-align: center;
  background: white;
  width: calc( 100% - 80px);
  margin: auto;
  & h2{
    padding: 20px;
    border-bottom: groove 0.1px;
  }
  .new_user{
    margin-top: 35px;
    .field{
      margin-top: 25px;
    }
    .actions input{
      background: red;
      color: white;
      padding: 10px calc(50% - 300px);
      margin: 30px;
    }
  }
  .new_adress{
    margin-top: 35px;
    .field{
      margin-top: 25px;
    }
    .actions input{
      background: red;
      color: white;
      padding: 10px calc(100% - 300px);
      margin: 30px;
    }
  }
  .new_credit{
    margin-top: 35px;
    .field{
      margin-top: 25px;
    }
    .actions input{
      background: red;
      color: white;
      padding: 10px calc(100% - 300px);
      margin: 30px;
    }
  }
  & a{
    display: block;
    background: red;
    color: white;
    padding: 10px calc(50% - 300px);
    text-decoration: none ;
    margin: 0 275px;
  }
  .fin-field{
    padding: 30px;
  }
}
