.header{
  background-color: white;
  &__inner{
    background-color: white;
    margin: 0 auto;
    width: calc(100% - 100px);
    &__top{
      & img{
        width: 150px;
        float: left;
        margin: 10px;
      }
      & form{
        float: left;
        width: calc(100% - 195px);
        margin: 15px 10px;
        padding-right: 5px; 
        & input{
          width: 100%;
        }
      }
      &:after{
        @include clearfix-after;
      }
    }
    &__nav{
      &-img{
        width: 32px;
        height: 32px;
        vertical-align: middle;
      }
      &__p{
        float: left;
        margin: 5px;
        line-height: 250%;
      }
      &__right{
        list-style: none;
        float: right;
        &__li{
          display: inline-block;
          vertical-align: middle;
          &__a {
            color: black;
          }
        }
        & a{
          display: block;
          float: right;
          margin: 5px;
          padding: 5px;
          text-decoration: none;
          border-radius: 10px;
        }
        &__regist{
          background: white;
          border: 1px solid $regist-blue;
          color: $regist-blue;
        }
        &__login{
          background: red;
          color: white;
        }
      }
    }
    &__nav:after{
      @include clearfix-after;
    }
  }
}
