.search-container{
  margin: 40px auto 0;
  width: 1000px;
  margin: 40 auto 0;
  .side-content{
    float: left;
    width: 300px;
    margin: 0 40px 0 0;
    .search{
      &-extend-container{
      }
      &__select-box{
        position: relative;
        & select{
          width: 100%;
          height: 50px;
          -webkit-appearance: none;
          border-radius: 4px;
          padding: 0 16px;
          background-color: white;
        }
      }
      &__select-detailedSearch{
        margin: 40px 0 0;
        padding: 16px;
        background-color: white;
        .form-group{
          position: relative;
          margin: 24px 0 0 ;
          .detailSelect{
            position: relative;
            .detailInput{
              width: 35%;
              margin: 8px 0 0;
              height: 10px;
              padding: 8px 8px 8px;
            }
            .select-default{
              width: 100%;
              position: relative;
              height: 48px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              font-size: 16px;
              -webkit-appearance: none;
              background-color: white;
            }
          }
          i{
            position: absolute;
            bottom: 15px;
            right: 10px;
            z-index: 2;
          }
          .price-fa{
            position: absolute;
            top:  40px;
            right: 10px;
            z-index: 2;
          }
        }
        .detailInput{
          margin: 8px 0 0;
          height: 25px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          width: calc( 100% - 32px );
        }
      }
    }
    
  }
  .result-content{
    float: right;
    width:  650px;
    &-h2{
      margin: 0 0 8px;
    }
    &-h3{
      font-size: 17px;
      overflow: hidden;
      line-height: 1.5;
      height: 30px;
      width: 110px;
    }
    &-number{
      margin: 16px 0;
      font-size: 12px;
      color: gray;
    }
    &__items{
      width: auto;
    }
    &__body{
      padding: 8px 12px;
      position: relative;
    }
    &__price{
      position: absolute;
      top: -30px;
      left: 0;
      padding: 4px 12px 4px 8px;
      border-radius: 0 16px 16px 0;
      font-weight: 600;
      color: #fff;
      background-color: rgba(0,0,0,0.3);
    }
    &__like{
      position: absolute;
      right: 10px;
      bottom: 5px;
      font-size: 12px;
    }
    &__box{
      margin: 0 20px 20px 0;
      background-color: white;
      display: inline-block;
      & .result-content__image{
        width: 160px;
        height: 160px;
        & img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      & a{
        text-decoration: none;
        color: black;
      }
    }
  }
  &:after{
    @include clearfix-after;
  }
}