.item-label{
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  background-color: white;
}
.all-item{
  width: 710px;
  margin: 0 auto;
  & a{
    float: left;
  }
  &__box{
    margin: 20px;
    & a{
      margin-left: 10px;
      margin-right: 10px;
      text-decoration: none;
      color: black;
      background-color: white;
    }
    &__photo{
      & img{
        width: 200px;
      }
    }
    &__body{
      padding: 16px;
      &__num{
        &__price{
          float: left;
          font-size: 16px;
        }
        &__likes{
          float:  right;
        }
        &__tax{
          font-size: 10px;
          clear: both;
        }
      }
    }
    &:after{
      @include clearfix-after;
    }
  }
}
