.banner
  .banner__pc
    .banner__pc__inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .banner__pc__inner__icon
        = image_tag src = "/assets/mercari_icon.png", class: "banner__pc__inner__icon__mercari"
        = image_tag src = "/assets/app-store.svg", class: "banner__pc__inner__icon__app-store"
        = image_tag src = "/assets/google-play.svg", class: "banner__pc__inner__icon__google-play"
    = image_tag src = "/assets/iphone.png"